<footer>
  <div class="f-info container py-4">
    <div class="row text-center gy-3 align-items-center">
      <!-- Social Icons -->
      <div class="col-md-4 f-info-socials">
        <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      </div>

      <!-- Brand Info -->
      <div class="col-md-4 f-info-brand">
        &copy; 2025 TripNest Private Limited
      </div>

      <!-- Footer Links -->
      <div class="col-md-4 f-info-Links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
      </div>
    </div>
  </div>
</footer>
