body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f8f9fa;
}

.container {
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.f-info-Links a {
    color: #222222;
    text-decoration: none;
}

.f-info-Links a:hover {
    text-decoration: underline;
}

.f-info-Links, 
.f-info-socials,
.f-info-brand {
    width: 100%;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.3rem;
    margin-right: 1rem;
}

.f-info {
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* CARD STYLING */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
    border-radius: 1rem;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.listing-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.card-img-top {
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.card-body {
    padding: 1rem !important;
}

.card-text {
    font-weight: 500 !important;
    color: #343a40;
    font-size: 1rem;
}

.listing-link {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* BUTTONS */
.add-btn, .edit-btn {
    background-color: #fe424d !important;
    border: none !important;
    color: white;
}

/* Headings */
h3 {
    font-weight: 600;
    margin-bottom: 2rem;
    color: #212529;
}
